<!DOCTYPE html>
<html>
<head>
  <title>Anypixel Wrapper</title>
  <style>
    body {
      margin: 0;
      background-color: #FFF;
    }

    .canvas_container {
      text-align: center;
    }

  </style>
</head>
<body>
  <div class="wrapper">
    <iframe src="/none.html" id="appFrame"></iframe>
  </div>
  <!-- JS: Buttonwall -->
  <script src="/js/app-wrapper.js"></script>
</body>
</html>